

p {
    font-size: large;
}


body {
    font-family: Arial, Helvetica, sans-serif;
     background-color: aqua;
     margin: 20px;
    padding: 5;

    h1 {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 40px;
    color: darkred;
    text-align: left;
}
}

